:root {
    --ash-gray: #ccdad1ff;
    --celadon-blue: #4281a4ff;
    --oxford-blue: #14213dff;
    --orange-web: #fca311ff;
    --portland-orange: #f46036ff;
    --amazon: #537a5aff;
    --forest-green-traditional: #143109ff;
}

* {
    margin: 0;
    padding: 0;
}

body > #wrapper {
height: 100vh;
width: 100vw;
display: grid;
place-items: center;
background-color: rgb(10 10 10);
margin: 0px;        
overflow: hidden;
}

.container {
    font-family: 'Arial';
    margin: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;

}
section:nth-of-type(1) {
    background-color: red;
}

section:nth-of-type(2) {
    background-color: blue;
}


#wrapper {
aspect-ratio: 1.618;
width: 90vmin;
position: relative;
}

#wrapper > .shape {
height: 30%;
width: 30%;
background-color: rgba(255 255 255 / 5%);
position: absolute;
transition: left, top, height, width, border-radius;
transition-duration: 750ms;
transition-timing-function: ease-in-out;
}

#wrapper > .shape:nth-child(1) {
background-color: var(--ash-gray);
z-index: 2;
}
#wrapper > .shape:nth-child(2) {
background-color: var(--celadon-blue);
z-index: 2;
}
#wrapper > .shape:nth-child(3) {
background-color: var(--oxford-blue);
z-index: 1;
}
#wrapper > .shape:nth-child(4) {
background-color: var(--orange-web);
z-index: 2;
}
#wrapper > .shape:nth-child(5) {
background-color: var(--portland-orange);
z-index: 2;
}
#wrapper > .shape:nth-child(6) {
background-color: var(--amazon);
z-index: 2;
}
#wrapper > .shape:nth-child(7) {
background-color: var(--forest-green-traditional);
z-index: 2;
}

#wrapper[data-configuration="1"] > .shape:nth-child(1) {  
left: 0%;
top: 0%;
height: 50%;
width: 20%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(2) {  
left: 20%;
top: 0%;
height: 50%;
width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(3) {  
left: 50%;
top: 0%;
height: 100%;
width: 50%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(4) {  
left: 0%;
top: 50%;
height: 50%;
width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(5) {  
left: 30%;
top: 50%;
height: 50%;
width: 20%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(6) {  
left: 70%;
top: 50%;
height: 50%;
width: 30%;
}

#wrapper[data-configuration="1"] > .shape:nth-child(7) {  
left: 85%;
top: 75%;
height: 25%;
width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(1) {
left: 25%;
top: 20%;
height: 80%;
width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(2) {  
left: 40%;
top: 20%;
height: 50%;
width: 10%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(3) {  
left: 50%;
top: 0%;
height: 100%;
width: 25%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(4) {  
left: 0%;
top: 0%;
height: 50%;
width: 10%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(5) {  
left: 10%;
top: 0%;
height: 70%;
width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(6) {  
left: 75%;
top: 10%;
height: 80%;
width: 15%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(7) {  
left: 90%;
top: 40%;
height: 60%;
width: 10%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(1) {
left: 0%;
top: 16.5%;
height: 32%;
width: 20%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(2) {  
left: 20%;
top: 2.7%;
height: 55%;
width: 34%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(3) {  
left: 38%;
top: 0%;
height: 100%;
width: 62%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(4) {  
left: 0%;
top: 47.3%;
height: 55%;
width: 34%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(5) {   
left: 34%;
top: 56.4%;
height: 32%;
width: 20%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(6) {  
left: 66%;
top: 45%;
height: 55%;
width: 34%;
}

#wrapper[data-configuration="3"] > .shape:nth-child(7) {  
left: 80%;
top: 68%;
height: 32%;
width: 20%;
}

#wrapper[data-roundness="1"] > .shape {   
border-radius: 6rem; 
}

#wrapper[data-roundness="2"] > .shape {  
border-radius: 0rem;
}

#wrapper[data-roundness="3"] > .shape {  
border-radius: 30rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(1) {  
border-bottom-left-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(2) {  
border-radius: 20rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(3) {  
border-top-right-radius: 12rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(4) {  
border-top-right-radius: 10rem;
border-bottom-right-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(5) {  
border-bottom-left-radius: 10rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(6) {  
border-top-left-radius: 16rem;
}

#wrapper[data-roundness="4"] > .shape:nth-child(7) {  
border-top-left-radius: 10rem;
}

html,body{
    padding: 0;
    margin: 0;
  }
  
  ul{
    top: calc(100% / 2 - 60px);
    position: fixed;
    height: auto;
    right: 10px;
  }
  
  li{
    list-style-type: none;
    width: 8px;
    height: 8px;
    background-color: var(--portland-orange);
    border-radius: 4px;
    margin: 20px 15px;
    transition: 0.3s ease;
  }
  
  .active{
    background-color: var(--orange-web);
  }
  
  .section{
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  p{
    font-size: 200%;
    font-family: monospace;
    font-weight: bold;
  }
  
  #sec1{
    background-color: black; 
  }
  
  #sec2{
    background-color: var(--celadon-blue); 
  }
  
  #sec3{
    background-color: var(--amazon); 
  }

  #sec4{
    background-color: var(--ash-gray);
  }

  #sec2 > #wrapper-sec2 > h1 {
    color: var(--oxford-blue);
    font-size: 5rem;
    font-family: "Space Mono", monospace;
    position: absolute;
  }

  #sec2 > #wrapper-sec2 > p {
    text-align: center;
    color: rgba(20, 33, 61, 0.514);
  }

  #sec2 > #wrapper-sec2 {
    aspect-ratio: 1.618;
    width: 190vmin;
    height: 190vmin;
    display: grid;
    place-items: center;
  }


