:root {
    --main-color: #14213dff;
    --nav-active: #fca311ff;
    --nav-bar: #f46036ff;
    --accent-color-1: #4281a4ff;
    --accent-color-2: #ccdad1ff;
    --accent-color-3: #537a5aff;
    --accent-color-4: #143109ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    overflow: hidden;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--accent-color-3);
    color: var(--forest-green-traditional);
    display: flex;
    align-items: center;
    justify-content: center;
}

a>.fa-brands {
    padding: 1.5rem 0.3em 1.5rem 0.3rem;
}

.container {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.container .text {
    position: relative;
    color: var(--nav-active);
    font-size: 30px;
    font-weight: 600;
}

.text.sec-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 100%;
    background-color: var(--main-color);
    border-left: 2px solid var(--nav-active);
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {

    40%,
    60% {
        left: calc(100% + 4px);
    }

    100% {
        left: 0%;
    }
}

a:link {
    color: var(--forest-green-traditional);
}

a:visited {
    color: var(--forest-green-traditional);
}

a:hover {
    color: rgb(11, 27, 5);
}

a:active {
    color: var(--forest-green-traditional);
}